# Used to apply screen shake rotation to the camera
public net.minecraft.client.Camera m_90572_(FF)V # setRotation

# Used to make a method that allows accessing partialTick anywhere
public net.minecraft.client.Minecraft f_91013_ # pausePartialTick

# Used to render the panorama if the PaCo menu was opened in the title screen
public net.minecraft.client.gui.screens.TitleScreen f_96729_ # panorama
public net.minecraft.client.gui.screens.TitleScreen f_96714_ # fading
public net.minecraft.client.gui.screens.TitleScreen f_96715_ # fadeInStart